body, input, select {
	font:13px Tahoma,Arial,Helvetica,sans-serif;
}
input[type="text"], select {
	border:1px solid #ccc;
}
.page-title {
	text-align:center;
}
.ls-form {
	margin:0 auto;
	width:950px;
}
.ls-control-panel {
	float:left;
	margin:0 15px 0 0;
	width:200px;
}
.ls-control-panel-right {
	margin:0 0 0 15px;
}
.ls-control-panel p {
	margin:0.5em 0;
}
.ls-control-panel input, .ls-control-panel select, .ls-control-panel textarea {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	width:100%;
}
.ls-control-panel fieldset {
	border:1px solid #ccc;
	border-radius:5px;
	padding:5px 10px;
}
.ls-control-panel legend {
	cursor:pointer;
	text-decoration:underline;
}
.ls-control-panel legend:after {
	content:" ▲";
}
.ls-control-panel legend:hover {
	text-decoration:none;
}
.ls-fields-list {
	margin:0;
}
.ls-fields-list dt {
	padding:2px 0 0 5px;
	position:absolute;
}
.ls-fields-list dt label {
	font:italic 15px "Monotype Corsiva","Times New Roman",Times,serif;
}
.ls-fields-list dd {
	margin:0 0 0.5em 0;
}
.ls-fields-list input[type="text"] {
	margin-top:0;
	padding-left:25px;
}

fieldset.ls-rules {
	border:1px solid #ccc;
	border-radius:5px;
	overflow:auto;
	padding:7px;
}
.ls-rules-list, .ls-collection-mng-list {
	list-style:none;
	margin:0;
	padding:0;
}
.ls-rules-list li, .ls-collection-mng-list li {
	margin-bottom:0.5em;
	position:relative;
}
.ls-rules-list input {
	margin:0;
	padding-left:20px;
}
.ls-letters-popup {
	background:#fff;
	border:1px solid #ccc;
	display:none;
	list-style:none;
	margin:0;
	padding:0;
	position:absolute;
	width:70px;
}
.ls-rules-list label, .ls-letters-popup li {
	background:url(letters.png) 100% 0 no-repeat;
	cursor:pointer;
	font-size:0;
	height:14px;
	line-height:0;
	text-indent:-9999px;
	width:14px;
}
.ls-rules-list label {
	display:block;
	left:3px;
	position:absolute;
	top:3px;
}
.ls-letters-popup li {
	float:left;
}
body .ls-rule-A { background-position:0 0; }
body .ls-rule-B { background-position:-14px 0; }
body .ls-rule-C { background-position:-28px 0; }
body .ls-rule-D { background-position:-42px 0; }
body .ls-rule-E { background-position:-56px 0; }
body .ls-rule-F { background-position:-70px 0; }
body .ls-rule-G { background-position:-84px 0; }
body .ls-rule-H { background-position:-98px 0; }
body .ls-rule-I { background-position:-112px 0; }
body .ls-rule-J { background-position:-126px 0; }
body .ls-rule-K { background-position:-140px 0; }
body .ls-rule-L { background-position:-154px 0; }
body .ls-rule-M { background-position:-168px 0; }
body .ls-rule-N { background-position:-182px 0; }
body .ls-rule-O { background-position:-196px 0; }
body .ls-rule-P { background-position:-210px 0; }
body .ls-rule-Q { background-position:-224px 0; }
body .ls-rule-R { background-position:-238px 0; }
body .ls-rule-S { background-position:-252px 0; }
body .ls-rule-T { background-position:-266px 0; }
body .ls-rule-U { background-position:-280px 0; }
body .ls-rule-V { background-position:-294px 0; }
body .ls-rule-W { background-position:-308px 0; }
body .ls-rule-X { background-position:-322px 0; }
body .ls-rule-Y { background-position:-336px 0; }
body .ls-rule-Z { background-position:-350px 0; }
body .ls-rule-add { background-position:-364px 0; }
body .ls-rule-del { background-position:100% 0; }
li[data-disabled] {
	cursor:default;
	opacity:0.3;
}

.ls-plot-area {
	border:1px solid #ccc;
	float:left;
	font-size:0;
	margin-top:7px;
	padding:0;
}
fieldset.collapsed-fieldset {
	border:none;
	border-top:1px solid #ccc;
	border-radius:0;
	padding-bottom:0;
}
fieldset.collapsed-fieldset * {
	display:none;
}
fieldset.collapsed-fieldset > legend {
	display:block;
}
fieldset.collapsed-fieldset > legend:after {
	content:" ▼";
}